

<div class="row">



<div class="col">

 
  <select [(ngModel)]="simpleValue" dropdownToggle class="btn btn-primary">Select Continent<span class="caret"></span>
    <option *ngFor="let obj of Regions" [ngValue]="obj" >{{obj}}</option>
  </select>

</div>


<div class="col">
<div ngbDropdown class="d-inline-block" >
  <button dropdownToggle id="dropdownBasic2" class="btn btn-primary"  (click)="onClickLang()"> Select Language <span class="caret"></span></button> 
    <div class="dropdown-menu" aria-labelledby="dropdownBasic2" *ngFor="let item of Languages">
      <button class="dropdown-item">{{item}}</button>      
    </div>
</div>
</div>


</div>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <ul class="list-inline cntr" *ngFor="let item of Countries">
      <li class="list-group-item">
        <p>{{item.name}}</p>
        <p>Borders: {{item.borders}}</p>
        <p>Polulation: {{item.population}}</p>
      </li>
    </ul>
  </div>
</div>
