

<div class="row">



<div class="col-md-2">

 
  <select [(ngModel)]="simpleValue" (ngModelChange)="onClickMe()"> 
    <option value="undefined" disabled selected hidden>Selec Continent</option>
    <option *ngFor="let obj of Regions"  [ngValue]="obj"> {{obj}} </option>
  </select>

</div>


<div class="col-md-2 col-md-offset-1">

  <select [(ngModel)]="simpleValue2" (ngModelChange)="onClickLang()">
    <option value="undefined" disabled selected hidden>Select Language</option>
    <option *ngFor="let lang of Languages"   [ngValue]="lang"> {{lang}} </option>
  </select>


</div>


</div>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <ul class="list-inline cntr" *ngFor="let item of Countries">
      <li class="list-group-item">
        <p>{{item.name}}</p>
        <p>Borders: {{item.borders}}</p>
        <p>Polulation: {{item.population}}</p>
      </li>
    </ul>
  </div>
</div>
